In [14]:
import pandas as pd

#How to make series

data = [100, 102, 101, 104]

series = pd.Series(data, index = ["a", "b", "c", "d"])

series.loc["c"] = 200


print(series.loc["c"])
print(series)
#will return the value of whatever is in index a

print(series.iloc[2])
#this will print data type in the index
#similar to an array
#by integer location

filData = [100, 110, 103, 101, 114]

series2 = pd.Series(filData, index = ["a", "b", "c", "d", "e"])
print(series2[series2 > 109])

200
a    100
b    102
c    200
d    104
dtype: int64
200
b    110
e    114
dtype: int64

In [19]:
calories = {"Day 1": 1750, "Day 2": 2100, "Day 3": 1700}

series = pd.Series(calories)

series.loc["Day 3"] += 500

print(series.loc["Day 3"])
print(series[series < 2000])

2200
Day 1    1750
dtype: int64

In [21]:
#My example

footballers = {"Messi": True, "Ronaldo": True, "Zidane": True, "Zlatan": False, "Vini": False}

series = pd.Series(footballers)

print("The following players have won the Ballon D'or!!!!")
print(series[series == True])

The following players have won the Ballon D'or!!!!
Messi      True
Ronaldo    True
Zidane     True
dtype: bool

In [35]:
#Data Frames is two dimensional

data = {
        "Name": ["SpongeBob", "Patrick", "Squidward"],
        "Age": [30, 35, 50]
        }

df = pd.DataFrame(data, index = ["Employee 1", "Employee 2", "Employee 3"])
print(df)

print('')
print(df.loc["Employee 2"])

print('')
print(df.iloc[0])

# add a new column
df["Job"] = ["Cook", "N/A", "Cashier"]
print(df)

#add a new rows
new_rows = pd.DataFrame([{"Name": "Sandy", "Age": 28, "Job": "Engineer"},
                        {"Name": "Mr.Crabs", "Age": 58, "Job": "Manager"}], 
                       index =["Employee 4", "Employee 5"])
df = pd.concat([df, new_rows])
print(" ")
print(df)

                 Name  Age
Employee 1  SpongeBob   30
Employee 2    Patrick   35
Employee 3  Squidward   50

Name    Patrick
Age          35
Name: Employee 2, dtype: object

Name    SpongeBob
Age            30
Name: Employee 1, dtype: object
                 Name  Age      Job
Employee 1  SpongeBob   30     Cook
Employee 2    Patrick   35      N/A
Employee 3  Squidward   50  Cashier

                 Name  Age       Job
Employee 1  SpongeBob   30      Cook
Employee 2    Patrick   35       N/A
Employee 3  Squidward   50   Cashier
Employee 4      Sandy   28  Engineer
Employee 5   Mr.Crabs   58   Manager

In [1]:
# how to read and import csv files
#df = pd.read_csv("pokemon.csv")

#print(df)
#to print the whole data frame do the following
#print(df.to_string())
#df2 = pd.read_json("pokedex.json")
#print(df2)

In [21]:
import pandas as pd

df = pd.read_csv("pokemon.csv", index_col = "Name")
#this sets index column to be that of the name of the
#pokemon

#Column Selection
#print(df["Name"].to_string())
#print(df["Weight"].to_string())
#print(df["Height"].to_string())
#print(df[["Name", "Height", "Weight"]])

#Selection by row
print(df.loc["Charizard":"Blastoise", ["Height", "Weight"]])
#loc is location by label or index column to look at 
#row/items

print(df.iloc[0:11:2, 0:3])
#i loc is location by integer in both column and row

pokemon = input("Enter a Pokemon name:")

print('')
try:
    print(df.loc[pokemon])
except KeyError:
    print(f"{pokemon} not found")

           Height  Weight
Name
Charizard     1.7    90.5
Squirtle      0.5     9.0
Wartortle     1.0    22.5
Blastoise     1.6    85.5
            No  Type1   Type2
Name
Bulbasaur    1  Grass  Poison
Venusaur     3  Grass  Poison
Charmeleon   5   Fire     NaN
Squirtle     7  Water     NaN
Blastoise    9  Water     NaN
Metapod     11    Bug     NaN

No              143
Type1        Normal
Type2           NaN
Height          2.1
Weight        460.0
Legendary         0
Name: Snorlax, dtype: object