In [14]:
import pandas as pd

#How to make series

data = [100, 102, 101, 104]

series = pd.Series(data, index = ["a", "b", "c", "d"])

series.loc["c"] = 200


print(series.loc["c"])
print(series)
#will return the value of whatever is in index a

print(series.iloc[2])
#this will print data type in the index
#similar to an array
#by integer location

filData = [100, 110, 103, 101, 114]

series2 = pd.Series(filData, index = ["a", "b", "c", "d", "e"])
print(series2[series2 > 109])

200
a    100
b    102
c    200
d    104
dtype: int64
200
b    110
e    114
dtype: int64

In [19]:
calories = {"Day 1": 1750, "Day 2": 2100, "Day 3": 1700}

series = pd.Series(calories)

series.loc["Day 3"] += 500

print(series.loc["Day 3"])
print(series[series < 2000])

2200
Day 1    1750
dtype: int64

In [21]:
#My example

footballers = {"Messi": True, "Ronaldo": True, "Zidane": True, "Zlatan": False, "Vini": False}

series = pd.Series(footballers)

print("The following players have won the Ballon D'or!!!!")
print(series[series == True])

The following players have won the Ballon D'or!!!!
Messi      True
Ronaldo    True
Zidane     True
dtype: bool

In [35]:
#Data Frames is two dimensional

data = {
        "Name": ["SpongeBob", "Patrick", "Squidward"],
        "Age": [30, 35, 50]
        }

df = pd.DataFrame(data, index = ["Employee 1", "Employee 2", "Employee 3"])
print(df)

print('')
print(df.loc["Employee 2"])

print('')
print(df.iloc[0])

# add a new column
df["Job"] = ["Cook", "N/A", "Cashier"]
print(df)

#add a new rows
new_rows = pd.DataFrame([{"Name": "Sandy", "Age": 28, "Job": "Engineer"},
                        {"Name": "Mr.Crabs", "Age": 58, "Job": "Manager"}], 
                       index =["Employee 4", "Employee 5"])
df = pd.concat([df, new_rows])
print(" ")
print(df)

                 Name  Age
Employee 1  SpongeBob   30
Employee 2    Patrick   35
Employee 3  Squidward   50

Name    Patrick
Age          35
Name: Employee 2, dtype: object

Name    SpongeBob
Age            30
Name: Employee 1, dtype: object
                 Name  Age      Job
Employee 1  SpongeBob   30     Cook
Employee 2    Patrick   35      N/A
Employee 3  Squidward   50  Cashier

                 Name  Age       Job
Employee 1  SpongeBob   30      Cook
Employee 2    Patrick   35       N/A
Employee 3  Squidward   50   Cashier
Employee 4      Sandy   28  Engineer
Employee 5   Mr.Crabs   58   Manager

In [1]:
# how to read and import csv files
#df = pd.read_csv("pokemon.csv")

#print(df)
#to print the whole data frame do the following
#print(df.to_string())
#df2 = pd.read_json("pokedex.json")
#print(df2)

In [21]:
import pandas as pd

df = pd.read_csv("pokemon.csv", index_col = "Name")
#this sets index column to be that of the name of the
#pokemon

#Column Selection
#print(df["Name"].to_string())
#print(df["Weight"].to_string())
#print(df["Height"].to_string())
#print(df[["Name", "Height", "Weight"]])

#Selection by row
print(df.loc["Charizard":"Blastoise", ["Height", "Weight"]])
#loc is location by label or index column to look at 
#row/items

print(df.iloc[0:11:2, 0:3])
#i loc is location by integer in both column and row

pokemon = input("Enter a Pokemon name:")

print('')
try:
    print(df.loc[pokemon])
except KeyError:
    print(f"{pokemon} not found")

           Height  Weight
Name
Charizard     1.7    90.5
Squirtle      0.5     9.0
Wartortle     1.0    22.5
Blastoise     1.6    85.5
            No  Type1   Type2
Name
Bulbasaur    1  Grass  Poison
Venusaur     3  Grass  Poison
Charmeleon   5   Fire     NaN
Squirtle     7  Water     NaN
Blastoise    9  Water     NaN
Metapod     11    Bug     NaN

No              143
Type1        Normal
Type2           NaN
Height          2.1
Weight        460.0
Legendary         0
Name: Snorlax, dtype: object

In [34]:
#filtering with pandas
#Filtering is keeping the rows that match a condition
import pandas as pd
df = pd.read_csv("pokemon.csv")

#tall_pokemon = df[df["Height"] >= 2]
#heavy_pokemon = df[df["Weight"] > 100]
#legendary_pokemon = df[df["Legendary"] == 1]
#water_pokemon = df[(df["Type1"]== "Water") | 
 #                  (df["Type2"]== "Water")]

#ff_pokemon = df[(df["Type1"]== "Fire") &
#                (df["Type2"]== "Flying")]

#Personal exercise
fatFlying_Pokemon = df[(df["Type2"]== "Flying") &
                       (df["Weight"] > 50)]


print(fatFlying_Pokemon)

      No        Name     Type1   Type2  Height  Weight  Legendary
5      6   Charizard      Fire  Flying     1.7    90.5          0
41    42      Golbat    Poison  Flying     1.6    55.0          0
84    85      Dodrio    Normal  Flying     1.8    85.2          0
122  123     Scyther       Bug  Flying     1.5    56.0          0
129  130    Gyarados     Water  Flying     6.5   235.0          0
141  142  Aerodactyl      Rock  Flying     1.8    59.0          0
143  144    Articuno       Ice  Flying     1.7    55.4          1
144  145      Zapdos  Electric  Flying     1.6    52.6          1
145  146     Moltres      Fire  Flying     2.0    60.0          1
148  149   Dragonite    Dragon  Flying     2.2   210.0          0

In [48]:
#now we work on aggregate functions which reduce values
# into single summary values

#used to analyze
import pandas as pd
df = pd.read_csv("pokemon.csv")

#for the whole Data Frame
#print(df.mean(numeric_only= True))
#print(df.sum(numeric_only= True))
#print(df.min(numeric_only=True))
print(df.max(numeric_only=True))

print('')

print(df.count())

# for single column
print("")
print("Now functions for single Columns")
#print(df["Height"].mean())
#print(df["Height"].max())

group = df.groupby("Type1")
print(" ")

#we group by type and it shows what we want to know about each
#print(group["Height"].mean())
print(group["Name"].count())

No           150.0
Height         8.8
Weight       460.0
Legendary      1.0
dtype: float64

No           150
Name         150
Type1        150
Type2         67
Height       150
Weight       150
Legendary    150
dtype: int64

Now functions for single Columns

Type1
Bug         12
Dragon       3
Electric     9
Fairy        2
Fighting     7
Fire        12
Ghost        3
Grass       12
Ground       8
Ice          2
Normal      22
Poison      14
Psychic      7
Rock         9
Water       28
Name: Name, dtype: int64

In [57]:
#For final Tutorial we will Data clean
#most work with pandas is data cleaning

import pandas as pd
df = pd.read_csv("pokemon.csv")

#dropping a column
#df = df.drop(columns=["Legendary", "No"])
#print(df)

#Handling Missing Data
#df = df.dropna(subset="Type2")

#print(df.to_string())

In [ ]:
#fill null values in columns

#df = df.fillna({"Type2": "None"})
#print(df.to_string())

#repl;ace values in data frame
df["Type1"] = df["Type1"].replace({"Grass": "GRASS"})
print(df)

#Standarized text
df["Name"] = df["Name"].str.lower()
print(df)

#fix data type
df["Legendary"] = df["Legendary"].astype(bool)
print(df)

#remove duplicates
#df = df.drop_duplicates()

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   bulbasaur    GRASS  Poison     0.7     6.9          0
1      2     ivysaur    GRASS  Poison     1.0    13.0          0
2      3    venusaur    GRASS  Poison     2.0   100.0          0
3      4  charmander     Fire    None     0.6     8.5          0
4      5  charmeleon     Fire    None     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     moltres     Fire  Flying     2.0    60.0          1
146  147     dratini   Dragon    None     1.8     3.3          0
147  148   dragonair   Dragon    None     4.0    16.5          0
148  149   dragonite   Dragon  Flying     2.2   210.0          0
149  150      mewtwo  Psychic    None     2.0   122.0          1

[150 rows x 7 columns]
      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   bulbasaur    GRASS  Poison     0.7     6.9          0
1      2     ivysaur    GRASS  Poison     1.0    13.0          0
2      3    venusaur    GRASS  Poison     2.0   100.0          0
3      4  charmander     Fire    None     0.6     8.5          0
4      5  charmeleon     Fire    None     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     moltres     Fire  Flying     2.0    60.0          1
146  147     dratini   Dragon    None     1.8     3.3          0
147  148   dragonair   Dragon    None     4.0    16.5          0
148  149   dragonite   Dragon  Flying     2.2   210.0          0
149  150      mewtwo  Psychic    None     2.0   122.0          1

[150 rows x 7 columns]
      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   bulbasaur    GRASS  Poison     0.7     6.9      False
1      2     ivysaur    GRASS  Poison     1.0    13.0      False
2      3    venusaur    GRASS  Poison     2.0   100.0      False
3      4  charmander     Fire    None     0.6     8.5      False
4      5  charmeleon     Fire    None     1.1    19.0      False
..   ...         ...      ...     ...     ...     ...        ...
145  146     moltres     Fire  Flying     2.0    60.0       True
146  147     dratini   Dragon    None     1.8     3.3      False
147  148   dragonair   Dragon    None     4.0    16.5      False
148  149   dragonite   Dragon  Flying     2.2   210.0      False
149  150      mewtwo  Psychic    None     2.0   122.0       True

[150 rows x 7 columns]